html{
  scroll-behavior: smooth;
}

.no_padding{
  padding: 0;
}

/*INICIO NAVBAR*/
.topoHome .navbar{
  position: fixed;
  width: 100%;
  z-index: 300;
}
.topoHome .navbar .dropdown-menu{
  background: #343a40;
}
 .topoHome .navbar ul{
  width: 100%;
 }
 .topoHome .navbar ul li{
  width: 100%;
  text-align: center;
  align-self: center;
  margin: 0 10px;
}
.topoHome .navbar ul li a{
  color: #ffffff;
 }
 .topoHome .navbar ul li a:hover{
  background: #343a40;
 }
.topoHome .navbar img{
  width: 50%;
  height: auto;
}
.topoHome .navbar p{
  color: #ffffff;
  font-size: 10px;
  margin: 0;
}
.topoHome .navbar button{
  background: transparent;
  border: 0;
  color: rgba(255,255,255,.5);
}
.topoHome .navbar button:hover{
  background: transparent;
  border: 0;
  color: rgba(255,255,255,.75);
}
/*FIM NAVBAR*/

/*INICIO CHAMADA APP*/
.jumbotron{
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 0;
}
.jumbotron .chamada_app .banner img{
  width: 100%;
}
.jumbotron .chamada_app .google img{
  width: 50%;
}
/*FIM CHAMADA APP*/


/*INICIO PESSOAS*/
.pessoas{
  background: #343A40;
  padding: 30px;
}
.pessoas .avaliador{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 110px 20px;
}
.pessoas .estabelecimento{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 110px 20px;
  transition: 0.7s;
}
.pessoas .avaliador h3{
  color: #ffffff;
  font-size: 20px;
}
.pessoas .estabelecimento h3{
  color: #ffffff;
  font-size: 20px;
}
.pessoas .avaliador .btn-primary, .pessoas .estabelecimento .btn-primary{
  background: #ffffff20;
    padding: 8px 40px;
    border: 2px solid #ffffff;
    border-radius: 0;
    margin-top: 20px;
    transition: 0.4s;
}
.pessoas .avaliador:hover .btn-primary, .pessoas .estabelecimento:hover .btn-primary{
  background: #00000030;
}
/*FIM PESSOAS*/

/*INICIO PODIO*/
.podio{
  background: #E9ECEF;
  padding: 50px 0;
}
.podio .img{
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  height: 150px;
  border-radius: 5%;
  margin-bottom: 5px;
}
.podio .img h4{
  background: transparent;
  color: transparent;
  padding: 2px;
  margin-top: 15%;
  transition: 0.7s;
}
.podio .img:hover h4{
  background: #00000090;
  color: #ffffff;
  padding: 20px;
  margin-top: 15%;
}
.podio h2{
  color: #333333;
  margin-bottom: 40px;
}
/*FIM PODIO*/

/*INICIO QUEM SOMOS*/
.quem_somos .missoes{
  background: #00000090;
  padding: 80px 0;
}
.quem_somos{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.quem_somos h1{
  font-size: 40px;
  margin-bottom: 50px;
  color: #ffffff;
}
.quem_somos h2{
  color: #ffffff;
  font-size: 30px;
}
.quem_somos p{
  color: #ffffff;
  font-size: 16px;
}
/*FIM QUEM SOMOS*/

/*INICIO PARCEIROS*/
.parceiros{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 70px 0;
}
.parceiros img{
  width: 100%;
  height: 300px;
}
.parceiros h1{
  color: #ffffff;
  text-align: center;
  font-size: 40px;
}
/*FIM PARCEIROS*/

/*INICIO RODAPÈ*/
.rodape{
  background: #333333;
  padding: 30px 0;
}
.rodape .menu h3{
  color: #ffffff;
  margin-bottom: 30px;
}
.rodape .menu ul{
  margin-top: -10px;
  line-height: 1;
}
.rodape .menu ul li{
  margin: 0;
}
.rodape .menu ul li a{
  color: #ffffff;
  font-size: 16px;
}
.rodape .menu ul li a:hover{
  background: #333333;
}
.rodape .contatos h3{
  color: #ffffff;
  margin-bottom: 30px;
}
.rodape .formulario h3{
  color: #ffffff;
  margin-bottom: 30px;
}
.rodape .contatos h5{
  color: #ffffff;
  font-size: 16px;
}
.rodape input{
  margin-top: 15px;
  background: transparent;
}
.rodape textarea{
  margin: 15px 0;
  background: transparent;
  color: #ffffff;
}
/*FIM RODAPÈ*/

/*INICIO BARRA FINAL*/
.barra_final .navbar ul li{
  align-self: center;
}
.barra_final .navbar p{
  font-size: 15px;
}
/*FIM BARRA FINAL*/

/*INICIO PG_VITRINE*/
.topoVitrine .navbar{
  position: fixed;
  width: 100%;
  z-index: 300;
}
.topoVitrine .navbar .dropdown-menu{
  background: #333333;
}
 .topoVitrine .navbar ul{
  width: 50%;
 }
 .topoVitrine .navbar ul li{
  width: 50%;
  text-align: center;
  align-self: center;
  margin: 0 20px;
}
.topoVitrine .navbar ul li a{
  color: #ffffff;
 }
.topoVitrine .navbar img{
  width: 50%;
  height: auto;
}
.topoVitrine .navbar p{
  color: #ffffff;
  font-size: 10px;
  margin: 0;
}
.topoVitrine .navbar button{
  background: transparent;
  border: 0;
  color: rgba(255,255,255,.5);
}
.topoVitrine .navbar button:hover{
  background: transparent;
  border: 0;
  color: rgba(255,255,255,.75);
}
.topoVitrine .tituloVitrine .titulo{
  background: #53595f;
  color: #00a1ff;
  padding-top: 80px;
  margin-bottom: 50px;
}
.filtro .colona_filtro{
  background: #eae9e9;
  padding: 20px;
  border-radius: 25px;
}
.filtro .colona_filtro h5{
  margin-top: 20px;
}
.filtro .colona_filtro h6{
  margin-top: 20px;
}
.filtro .colona_filtro select{
  width: 100%;
}
.filtro .colona_filtro input{
  margin-top: 20px;
}
.estaFiltrados .linhaF{
  margin: 15px 0;
  border-radius: 25px;
}
.estaFiltrados{
  background: #c1c0c0;
  border-radius: 25px;
  padding: 50px;
}
.filtro .estaFiltrados img{
  width: 100%;
}
.filtro .estaFiltrados .imgR{
  padding-right: 0;
}
.filtro .estaFiltrados .detaR{
  background: #f9f9f9;
  padding: 37px;
}
.filtro .estaFiltrados .bola{
  background: green;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
/*FIM PG_VITRINE*/



/*INICIO PG PERFIL ESTABELECIMENTO*/
#perfil_e .perfil_E{
  background: #53595f;
  color: #00a1ff;
  padding-top: 80px;
  padding-bottom: 0;
}
#perfil_e .perfil_E img{
  width: 100%;
  border-radius: 25%;
}
#perfil_e .titulo{
  padding: 10px 0;
  color: #8e8b8b;
  border: 4px solid #9c27b0;
  border-radius:  0 0 15px 15px;
}
#perfil_e .avaliacao{
  background: #d6d0d0;
  margin-top: 20px;
  padding: 5px;
  border-radius: 15px;
}
#perfil_e .destaque{
  background: #d6d0d0;
  margin-top: 20px;
  padding: 5px;
  border-radius: 15px;
}

#perfil_e .galeria img {
  margin-top: 50px;
  width: 100%;
}
#perfil_e .descricao{
  margin: 50px 0;
}
#perfil_e .descricao .desc{
  background: #efefef;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 4px rgba(0.5,0,0,0.5);
  padding: 40px;
}
#perfil_e .descricao .seg{
  margin-top: 15px;
  background: #efefef;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 4px rgba(0.5,0,0,0.5);
  padding: 20px;

}
#perfil_e .localizacao{
  margin: 50px 0;
}
#perfil_e .localizacao iframe{
  width: 100%;
  height: 300px;
  border:0;
}

